<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="Seed\\DriverChrome"/>
    <add key= "URL" value = "https://docs.google.com/forms/d/e/1FAIpQLSfSGh4qzssK1gnZ6JEUe1D4E3lmGCelVD0VZgdHs_y7K_U7rA/viewform"/>
    <add key="FilePath" value="Seed\\Ques.CSV"/>
    <add key ="ID" value="softtestab@gmail.com"/>
    <add key ="Password" value="2613antest"/>
    <add key="_testFolderPath" value="\\TestResults\\"/>
  </appSettings>
</configuration>
